%tr{class: table_row_parity(user_counter)}
  %td.center.facebook-post-name
    = user.name
  %td.center
    = link_to login_as_user_path(user), class: 'btn btn-primary', alt: 'Login as' do
      %i.fa.fa-sign-in
    = link_to edit_user_path(user), class: 'btn btn-primary', alt: 'Edit' do
      %i.fa.fa-pencil-square-o
    = link_to user_path(user), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{user.name}?", ok: "Delete", cancel: "Cancel" }, alt: 'Delete' do
      %i.fa.fa-times
