= content_for :page_title do
  Dashboard

- if current_user.id != 10
  %h2 Earnings
  .panel.panel-default
  .panel-heading
    %h3
      = I18n.l(Date.today, format: :full_month)
      Stats
  .panel-body
    .dataTable_wrapper
      %table#dataTables-example.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Posts number
            %th News number
            %th Lists number
            %th News earnings
            %th Lists earnings
            %th Total earnings
        %tbody
          = render partial: "earnings_stats", collection: @users, as: :user, locals: {previous: false}

  .panel.panel-default
  .panel-heading
    %h3
      = I18n.l(Date.today - 1.month, format: :full_month)
      Stats
  .panel-body
    .dataTable_wrapper
      %table#dataTables-example.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Posts number
            %th News number
            %th Lists number
            %th News earnings
            %th Lists earnings
            %th Total earnings
        %tbody
          = render partial: "earnings_stats", collection: @users, as: :user, locals: {previous: true}

%h2 Facebook Stats
.panel.panel-default
.panel-heading
  %h3
    = I18n.l(Date.today, format: :full_month)
    Stats
.panel-body
  .dataTable_wrapper
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Impressions
          %th Organic Impressions
          %th Paid Impressions
          %th Clicks
      %tbody
        = render partial: "facebook_stats", collection: @users, as: :user, locals: {previous: false}

.panel.panel-default
.panel-heading
  %h3
    = I18n.l(Date.today - 1.month, format: :full_month)
    Stats
.panel-body
  .dataTable_wrapper
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Impressions
          %th Organic Impressions
          %th Paid Impressions
          %th Clicks
      %tbody
        = render partial: "facebook_stats", collection: @users, as: :user, locals: {previous: true}

%h2 Wordpress Stats
.panel.panel-default
.panel-heading
  %h3
    = I18n.l(Date.today, format: :full_month)
    Stats
.panel-body
  .dataTable_wrapper
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Users
          %th Page Views
          %th Page Views Per User
          %th Average Time On Page
      %tbody
        = render partial: "wordpress_stats", collection: @users, as: :user, locals: {previous: false}

.panel.panel-default
.panel-heading
  %h3
    = I18n.l(Date.today - 1.month, format: :full_month)
    Stats
.panel-body
  .dataTable_wrapper
    %table#dataTables-example.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Users
          %th Page Views
          %th Page Views Per User
          %th Average Time On Page
      %tbody
        = render partial: "wordpress_stats", collection: @users, as: :user, locals: {previous: true}
