%tr{class: table_row_parity(user_counter)}
  %td.center
    = user.name
  %td.center
    = previous ? user.previous_earnings_stats.posts_number : user.current_earnings_stats.posts_number
  %td.center
    = previous ? user.previous_earnings_stats.news_number : user.current_earnings_stats.news_number
  %td.center
    = previous ? user.previous_earnings_stats.lists_number : user.current_earnings_stats.lists_number
  %td.center
    = previous ? user.previous_earnings_stats.news_earnings : user.current_earnings_stats.news_earnings
  %td.center
    = previous ? user.previous_earnings_stats.lists_earnings : user.current_earnings_stats.lists_earnings
  %td.center
    = previous ? user.previous_earnings_stats.total_earnings : user.current_earnings_stats.total_earnings
    $
